.git
.github
.gitignore

.env
.env.example

__pycache__
*.pyc
*.pyo
*.pyd

.venv
venv
env
ENV

*.egg-info
build
dist

.ipynb_checkpoints

.vscode
.idea

.pytest_cache
.coverage
.coverage.*
htmlcov

Data/